@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

/* -- scrollbar -- */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}

/* --Forms-- */

.clean-button {
    border: none;
    background: none;
    cursor: pointer;
}

.action-button {
    transform: scaleX(-1);
    font-size: 15px;
}

.blue-hover:hover {
    color: blue;
}

.red-hover:hover {
    color: rgb(189, 17, 52);
}

.forms-container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* -- Navbar -- */

.topnav {
    display: flex;
    top: 0;
    justify-content: center;
    position: sticky;
}

.topnav a {
    color: #2c2a2a;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.topnav a:hover {
    color: navy;
}

/* -- Blog Elements --  */

.blog {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333333;
}

.blog-header {
    text-align: center;
    padding: 20px;
}

.blog-title {
    font-size: 36px;
    font-weight: bold;
}

.blog-subtitle {
    font-size: 24px;
    color: gray;
}

.blog-post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid lightgray;
}

.blog-post-title {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.blog-login-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.blog-post-date {
    font-size: 18px;
    color: gray;
    margin-bottom: 20px;
}

.blog-post-content {
    font-size: 18px;
    line-height: 1.5;
}

/* -- Add --  */

.add-input {
    border: none;
    border-bottom: 1px solid #3333;
}

.add-textarea {
    border: none;
    resize: none;
    margin-top: 5px;
}

.add-textarea:focus,
.add-input:focus {
    outline: none;
}

.create-button {
    text-align: left;
}

.new-post-header {
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: 700;
}

.new-post {
    position: fixed;
    bottom: 0;
    right: 15;
    border: 2px solid #d9d9d9;
    width: 300;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    padding: 10;
}